flows/FLOW_MONITORAMENTO_ENTREGA_RESULTADO.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>bde8f234-0188-1000-6bdd-3d0346dff17d</groupId>
    <name>FLOW_MONITORAMENTO_ENTREGA_RESULTADO</name>
    <snippet>
        <processGroups>
            <id>07bc2d2b-bee1-3f7d-0000-000000000000</id>
            <parentGroupId>92cab6dd-2e9a-3638-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>99936b2c-7d35-34a4-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <versionedComponentId>daa668cf-95b4-38a3-9612-b01eea715792</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>07bc2d2b-bee1-3f7d-0000-000000000000</groupId>
                        <id>956106b7-9112-32f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd82a97f-5382-3a0b-b9e5-daa464baf81f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>07bc2d2b-bee1-3f7d-0000-000000000000</groupId>
                        <id>0d2b719f-03dd-3fcc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d7123817-ad18-3cb2-bd5a-56bf99912464</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bcb2740b-d4a8-31e6-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <versionedComponentId>29647dac-6c6a-3547-925b-2002917a9224</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>07bc2d2b-bee1-3f7d-0000-000000000000</groupId>
                        <id>bf824a29-8990-3742-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>04da8097-2961-3ed2-9963-c70efa96abed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>3600 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>07bc2d2b-bee1-3f7d-0000-000000000000</groupId>
                        <id>956106b7-9112-32f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd82a97f-5382-3a0b-b9e5-daa464baf81f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>bf824a29-8990-3742-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>1248.0</y>
                    </position>
                    <versionedComponentId>04da8097-2961-3ed2-9963-c70efa96abed</versionedComponentId>
                </funnels>
                <labels>
                    <id>459daa36-6485-35a3-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <position>
                        <x>936.0</x>
                        <y>696.0</y>
                    </position>
                    <versionedComponentId>1249423f-0e4b-3676-9326-aa47a3be12b1</versionedComponentId>
                    <height>72.0</height>
                    <label>Monitora tópico que recebe os resultados 
das análises de crédito no KAFKA</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#2ecc71</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>504.0</width>
                    <zIndex>1</zIndex>
                </labels>
                <labels>
                    <id>cce383a2-d292-3f37-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <position>
                        <x>936.0</x>
                        <y>752.0</y>
                    </position>
                    <versionedComponentId>b1aed08d-26cc-33e3-b335-26949b24c283</versionedComponentId>
                    <height>560.0</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#999999</value>
                        </entry>
                    </style>
                    <width>496.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>0d2b719f-03dd-3fcc-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>776.0</y>
                    </position>
                    <versionedComponentId>d7123817-ad18-3cb2-bd5a-56bf99912464</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>
    <name>Commit Offsets</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>Commit Offsets</propertyName>
    </dependencies>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>
    <name>separate-by-key</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <dependencies>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>resultado_analises</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>monitoramento_processamento_analise</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>true</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>false</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MONITORA RESULTADO NO KAFKA</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                </processors>
                <processors>
                    <id>956106b7-9112-32f1-0000-000000000000</id>
                    <parentGroupId>07bc2d2b-bee1-3f7d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>1000.0</y>
                    </position>
                    <versionedComponentId>dd82a97f-5382-3a0b-b9e5-daa464baf81f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.19.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>resultado-analise-credito-${now():format('yyyyMMddHHmmssSSS')}-${random():mod(10000000):plus(1)}.json</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ATUALIZA METADADOS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MONITORA ENTREGA DOS RESULTADOS</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/15/2023 04:43:34 BRT</timestamp>
</template>
